/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.trim-pic {
  width: 100%;
  max-height: 92.5vh;
  overflow: hidden;
}

.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

input::placeholder {
  color: black;
}

.input-field label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=search]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.carousel-inner > .item {
   height: 200px;
}

.lightbox{
  font-size: 26px;
  text-align: center;
}


.videos{
  position: absolute;
  right: 50px;
}

.my-col-2{
  padding-top: 30px;
  font-size: 20px;
}

.my-col{
  font-size: 30px;
  padding-right: 100px;
}


   

/*Hover Blurout Effect*/
    .hover-blurout a {
      display: block;
      position: relative;
      overflow: hidden;
    }
    .hover-blurout img {
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
    .hover-blurout:hover img {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      /*Blur Filtr*/
      -webkit-filter: grayscale(0.6) blur(1px);
      -moz-filter: grayscale(0.6) blur(1px);
      -o-filter: grayscale(0.6) blur(1px);
      -ms-filter:progid:DXImageTransform.Microsoft.Blur(pixelRadius=2);
      filter: progid:DXImageTransform.Microsoft.blur(pixelradius=2);
      filter: grayscale(0.6) blur(2px);
    }
    .hover-blurout a h2 {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 0px;
      margin-bottom: 0px;
      height: 100%;
      width: 100%;
      padding: 45% 20px;
      text-align: center;
      background-color: rgba(0,0,0,0.4);
      /*background dotted*/
      background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
      background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
      background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
      background-image: repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
      -webkit-background-size: 3px 3px;
      -moz-background-size: 3px 3px;
      background-size: 3px 3px;

      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      transition: all 0.5s linear;
      -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
    }
    .hover-blurout:hover a h2 {
      -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1;
    }
    .hover-blurout .glyphicon {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      color: #fff;
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      transition: all 0.5s linear;
      -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
    }
    .hover-blurout:hover .glyphicon {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 0.5s linear;
      -moz-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
      transition: all 0.5s linear;
      -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
      filter: alpha(opacity=1);
      opacity: 1;
    }
/* ---------Hover Overlay text Effect--------- */

    .overlay-item {
       display: block;
       position: relative;
       overflow: hidden;
       text-align: center;

    }
    .overlay-item .mask {
       display: block;
       position: absolute;
       overflow: hidden;
       top: 0;
       left: 0;
       height: 100%;
    }
    .overlay-item img {
       display: block;
       width: 100%;
       height: auto;
       x-margin-right: auto;
       x-margin-left: auto;
    }
    .overlay-item h3 {
       text-transform: uppercase;
       text-align: center;
       position: relative;
       padding: 10px;
       margin: 0px 0px 20px 0px;
       display: block;
       background-color: #333;
       color: #fff;
    }
    .overlay-item p {
       text-align: left;
    }
    .overlay-item a.btn {
      margin: 10px 0;
    }

    .overlay-effect img {
       -webkit-transform: scaleY(1);
       -moz-transform: scaleY(1);
       -o-transform: scaleY(1);
       -ms-transform: scaleY(1);
       transform: scaleY(1);
       -webkit-transition: all 0.7s ease-in-out;
       -moz-transition: all 0.7s ease-in-out;
       -o-transition: all 0.7s ease-in-out;
       -ms-transition: all 0.7s ease-in-out;
       transition: all 0.7s ease-in-out;
    }
    .overlay-effect .mask {
       background-color: rgba(255, 255, 255, 0.3);
       -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
       -ms-transition: all 0.5s linear;
       transition: all 0.5s linear;
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
       opacity: 0;
    }
    .overlay-effect h3 {
       -webkit-transform: scale(0);
       -moz-transform: scale(0);
       -o-transform: scale(0);
       -ms-transform: scale(0);
       transform: scale(0);
       -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
       -ms-transition: all 0.5s linear;
       transition: all 0.5s linear;
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
       opacity: 0;
    }
    .overlay-effect p {
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
       opacity: 0;
       -webkit-transform: scale(0);
       -moz-transform: scale(0);
       -o-transform: scale(0);
       -ms-transform: scale(0);
       transform: scale(0);
       -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
       -ms-transition: all 0.5s linear;
       transition: all 0.5s linear;
    }
    .overlay-effect a.btn {
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
       opacity: 0;
       -webkit-transform: scale(0);
       -moz-transform: scale(0);
       -o-transform: scale(0);
       -ms-transform: scale(0);
       transform: scale(0);
       -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
       -ms-transition: all 0.5s linear;
       transition: all 0.5s linear;
    }
    .overlay-effect:hover img {
       -webkit-transform: scale(10);
       -moz-transform: scale(10);
       -o-transform: scale(10);
       -ms-transform: scale(10);
       transform: scale(10);
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
       opacity: 0;
    }
    .overlay-effect:hover .mask {
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
       filter: alpha(opacity=100);
       opacity: 1;
    }
    .overlay-effect:hover h3,.overlay-effect:hover p,.overlay-effect:hover a.btn {
       -webkit-transform: scale(1);
       -moz-transform: scale(1);
       -o-transform: scale(1);
       -ms-transform: scale(1);
       transform: scale(1);
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
       filter: alpha(opacity=100);
       opacity: 1;
    }


.header-3, .header-4{
  text-align: center;
}
/*
.giveaway{
  position:absolute;
  width:100%;
  height:100%;
}

.giveaway .selfie{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
*/


#myFooter {
    background-color: #3a3f46;
    color: white;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .info{
    text-align: justify; 
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo{
    margin-top: 10px;
}

#myFooter .second-bar .logo a{
    color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #33373e;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float:right;
}


#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}

/* .column {
  border:   2px solid black;
  height: auto;
  position: relative;
}

.column iframe {
  width: 85%;
  height: auto;
  float: center;
}

.column .left {
  float: right;
  width: 60%;
}

.column .right {
  float: left;
  width: 40%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} */

.wrapper {
  display: flex;
}
.wrapper > .left {
  flex: 1 0 55%;

  padding-left: 250px;


}
  .wrapper > .right {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;

    padding-top: 35px;
  }
    .wrapper > .right > .vid-wrapper {
      display: flex;

    }
      .wrapper > .right > .vid-wrapper > .video {
        flex: 1 0 45%;
      }
        .wrapper > .right > .vid-wrapper > .video > iframe {
          max-width: 100%;
          height: auto;
        }
      .wrapper > .right > .vid-wrapper > .info {
        flex: 0 0 55%;
      }