/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* WHAT WAS THERE BEFORE 
 header {
  font-family: "Helvetica";
  position: relative;
  background: #E4E1E1;
  color: #ffffff;
  padding-top: 45px;
  min-height: 70px;
 
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  position: relative;
  right: 600px;
  bottom: 25px;
  display: inline;
  padding: 0 30px 0 30px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: #32a0c2;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

.logo {
  float: left;
  display: inline;
  width: 200px;
  padding-bottom: 50px;
  position: absolute;
  left:50px;
  bottom: -50px;
}

form {
  position: relative;
  top: 0%;
  left: 0%;
  transform: translate(50%, 0%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid black;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover {
  width: 250px;
  cursor: pointer;
}

form:hover input{
  display: block;
}


.shopping-bag {
  border-radius: 25px;
  padding: 13px;
  border: 4px solid black;
}

i {
  color: black;
}

a:hover .fas {
  background: #07051a;
  color: white;
}
*/


.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

input::placeholder {
  color: black;
}

.input-field label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=search]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}